@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500);

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #eee;
}

.row_acc:after {
  content: "";
  display: table;
  clear: both;
}

.headline {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400; 
}

.card {
  margin: 1.5em auto 0 auto;
  max-width: 400px;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

form {
  margin-top: 24px;  
}

form .row_acc {
  margin-bottom: 24px;
}

form .row_acc:last-child {
  margin-bottom: 0;
}

input[type="text"],
select {
  margin: 0 16px 0 0;
  padding: 0;
  float: left;
  height: 36px;
  font-size: 14px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

input[type="text"]:focus,
select:focus { 
  color: #000;
  border-bottom: 2px solid #2196F3;
}

form input[disabled],
form button[disabled] {
  opacity: .65;
  cursor: not-allowed;
}

option:checked { display: none; }

.button {
  display: block;
  margin: 24px 0 0 0;
  padding: .7em;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #0d8aee;
}

form .error,
form .error:hover {
  font-size: .8em;
  font-weight: 500;
  color: red;
  background-color: transparent;
  border-bottom-color: red;
}